@mixin avatar
  width: 35px
  height: 35px
  border-radius: 50%
  background-image: url("../assets/images/icons.jpg")
  background-size: 135px 65px

@mixin avatar-position-1
  background-position: -1px 0

@mixin avatar-position-2
  background-position: -34px 1px

@mixin avatar-position-3
  background-position: -67px 1px

@mixin avatar-position-4
  background-position: -99px 1px

@mixin avatar-position-5
  background-position: -1px 35px

@mixin avatar-position-6
  background-position: -34px 35px

@mixin avatar-position-7
  background-position: -67px 35px

@mixin avatar-position-8
  background-position: -99px 35px