@import colors

$light-border: 1px solid $lightgray-color

header
  position: fixed
  z-index: 10
  display: flex
  justify-content: space-between
  align-items: center
  width: 100vw
  padding: 0 20px
  border-bottom: 1px solid $gray-color
  box-shadow: 0 0 5px 0 $darkgray-color
  background-color: $white-color
  .logo a
    color: $coral-color
    font-size: 40px
    vertical-align: center
    i
      position: relative
      top: -4px
      margin-right: 10px
      font-size: 32px
  .search-panel
    display: flex
    align-items: center
    .container
      display: flex
      height: 35px
      margin-right: 10px
      input
        width: 30vw
        padding-left: 7px
        border-radius: 3px 0 0 3px
        border: $light-border
        &:focus
          padding-left: 6px
          outline: none
          border-width: 2px
          border-right-width: 3px
          border-color: $whitegreen-color
      button
        margin-left: -1px
        padding: 0 7px
        border-radius: 0 3px 3px 0
        border: $light-border
        font-size: 14px
        &:hover
          background-color: $gray-color
          cursor: pointer
    & > i
      font-size: 22px
      color: $gray-color
      &:hover
        cursor: pointer
        color: $darkgray-color
  .profile-panel
    display: flex
    align-items: center
    & > i
      margin-right: 10px
      font-size: 22px
      color: $gray-color
      &:hover
        cursor: pointer
        color: $darkgray-color
    .profile-menu
      position: relative
      &:hover button
        background-color: $lightgray-color
      &:hover .dropdown-content
        display: flex
      button
        width: 40px
        height: 40px
        border: none
        border-radius: 50%
        background-color: $coral-color
        font-size: 16px
        text-align: center
        &:after
          content: ''
          display: block
          position: absolute
          bottom: -5px
          left: 0
          width: 100%
          height: 5px
      .dropdown-content
        display: none
        flex-direction: column
        position: absolute
        top: 45px
        right: 0
        z-index: 100
        width: 150px
        border: $light-border
        border-radius: 4px
        a
          display: block
          padding: 10px
          background-color: $white-color
          border-bottom: $light-border
          color: $black-color
          &:last-child
            border-bottom: none
            color: $red-color
          &:hover
            background-color: $lightgray-color
          i
            margin-right: 10px

@media screen and (min-width: 1200px)
  header .search-panel .container input
    width: 25vw