@import colors
@import avatar
@import video

.main-panel
  display: flex
  flex-direction: column
  flex-grow: 1
  max-width: 100%
  padding: 10px 20px
  overflow-x: hidden
  .category-list
    ul
      display: grid
      grid-auto-flow: column
      grid-template-columns: repeat(auto-fit, auto)
      grid-gap: 20px
      margin: 0
      padding: 0
      overflow-x: auto
      list-style: none
      &::-webkit-scrollbar
        display: none
      li
        a
          display: block
          padding: 5px 15px 2px
          background-color: $whitegreen-color
          border: 1px solid $lightgreen-color
          border-radius: 50px
          text-align: center
          white-space: nowrap
          color: $black-color
        &:first-child a
          padding: 6px 15px 3px
          background-color: $coral-color
          border: none
          color: $white-color
  .video-block
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 20px
    margin: 20px 0
    .video
      @include preview-container
      .video-description
        display: flex
        margin-top: 10px
        .avatar
          flex-shrink: 0
          margin-right: 10px
          @include avatar
        .avatar-1
          @include avatar-position-1
        .avatar-2
          @include avatar-position-2
        .avatar-3
          @include avatar-position-3
        .avatar-4
          @include avatar-position-4
        .avatar-5
          @include avatar-position-5
        .avatar-6
          @include avatar-position-6
        .avatar-7
          @include avatar-position-7
        .avatar-8
          @include avatar-position-8
        @include info-block
        .options
          margin-left: auto
          margin-right: 7px
          &:hover
            cursor: pointer
  footer
    margin-top: auto
    text-align: center
    a
      color: $black-color
      svg
        width: 20px
        height: 20px
        vertical-align: middle

@media screen and (min-width: 681px)
  .main-panel
    .video-block
      display: grid
      grid-template-columns: repeat(2, minmax(0%, 1fr))

@media screen and (min-width: 1001px)
  .main-panel
    .video-block
      display: grid
      grid-template-columns: repeat(3, minmax(0%, 1fr))

@media screen and (min-width: 1551px)
  .main-panel
    .video-block
      display: grid
      grid-template-columns: repeat(4, minmax(0%, 1fr))


