@import colors
@import avatar

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.8)
  70%
    box-shadow: 0 0 0 10px rgba(204,169,44, 0)
  100%
    box-shadow: 0 0 0 0 rgba(204,169,44, 0)

.side-panel
  max-height: 100%
  display: flex
  flex-direction: column
  background-color: $lightgreen-color
  .streamers
    flex-grow: 1
    flex-basis: 0
    overflow: scroll
    border-bottom: 1px solid $white-color
    .streamer-card
      display: flex
      align-items: center
      position: relative
      width: 100%
      padding: 10px 20px
      .avatar
        @include avatar
      .nickname
        flex-grow: 1
        flex-basis: 0
        margin-left: 10px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
      .live
        margin: 0 10px 2px
        width: 7px
        height: 7px
        border-radius: 50%
        &.live-true
          background-color: $red-color
          animation: pulse 2s infinite
      &:hover
        background-color: $whitegreen-color
        cursor: pointer
        & .nickname span:hover
          color: $blue-color
    .streamer-1
      .avatar
        @include avatar-position-1
    .streamer-2
      .avatar
        @include avatar-position-2
    .streamer-3
      .avatar
        @include avatar-position-3
    .streamer-4
      .avatar
        @include avatar-position-4
    .streamer-5
      .avatar
        @include avatar-position-5
    .streamer-6
      .avatar
        @include avatar-position-6
    .streamer-7
      .avatar
        @include avatar-position-7
    .streamer-8
      .avatar
        @include avatar-position-8
  .info
    margin: 20px
    padding: 15px 10px
    background-color: $whitegreen-color
    text-align: center
    p
      margin: 10px
      font-size: 18px
      line-height: 1.2
      &::selection
        background-color: $coral-color
        color: $white-color
    .social
      display: flex
      justify-content: space-between
      padding: 0 25px
      svg
        height: 20px
        width: 20px
        &:hover
          fill: $blue-color

@media screen and (max-width: 1200px)
  .side-panel
    .nickname,
    .live,
    .subscribers
      display: none
    .info
      display: none