@import colors
@import avatar
@import video

.slider-container
  height: 330px
  margin: 40px auto 50px
  position: relative
  width: 840px
  .slider
    height: inherit
    overflow: hidden
    position: relative
    width: inherit
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5)
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5)
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5)
    box-shadow: 0 0 20px rgba(0, 0, 0, .5)
    .slides
      display: flex
      height: inherit
      opacity: 0
      position: absolute
      width: inherit
      z-index: 0
      -webkit-transform: scale(1.5)
      -moz-transform: scale(1.5)
      -o-transform: scale(1.5)
      transform: scale(1.5)
      -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s
      -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s
      -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s
      transition: transform ease-in-out .5s, opacity ease-in-out .5s
      .video-description
        width: 240px
        padding: 20px
        background-color: $lightgray-color
        .container
          display: flex
          .avatar
            @include avatar
            flex-shrink: 0
            margin-right: 10px
          .avatar-1
            @include avatar-position-1
          .avatar-2
            @include avatar-position-2
          .avatar-3
            @include avatar-position-3
          .avatar-4
            @include avatar-position-4
          .avatar-5
            @include avatar-position-5
          .avatar-6
            @include avatar-position-6
          .avatar-7
            @include avatar-position-7
          .avatar-8
            @include avatar-position-8
          @include info-block
        .comment
          margin-top: 5px
          line-height: 1.2
          color: $darkgray-color
          &::selection
            background-color: $coral-color
            color: $white-color
      @include preview-container
      .preview-container
        flex-grow: 1
        background-repeat: no-repeat
        background-size: contain
    .slide1
      .preview-container
        background-image: url("../assets/images/preview-1.jpg")
    .slide2
      .preview-container
        background-image: url("../assets/images/preview-2.jpg")
    .slide3
      .preview-container
        background-image: url("../assets/images/preview-3.jpg")
    .slide4
      .preview-container
        background-image: url("../assets/images/preview-4.jpg")
    .slide5
      .preview-container
        background-image: url("../assets/images/preview-5.jpg")

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5
  opacity: 1
  z-index: 1
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -o-transform: scale(1)
  transform: scale(1)

.slider-container > input
  display: none

.slider-container .controls
  left: 50%
  margin-left: -98px
  position: absolute

.slider-container label
  cursor: pointer
  display: inline-block
  height: 8px
  margin: 25px 12px 0 16px
  position: relative
  width: 8px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  -webkit-transition: background ease-in-out .5s
  -moz-transition: background ease-in-out .5s
  -o-transition: background ease-in-out .5s
  transition: background ease-in-out .5s

.slider-container label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5)
  background: #ddd

.slider-container label:after
  border: 2px solid #ddd
  content: " "
  display: block
  height: 12px
  left: -4px
  position: absolute
  top: -4px
  width: 12px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%

@media screen and (max-width: 1000px)
  .slider-container
    width: 560px
    height: 220px
    .slider
      .slides
        .video-description
          width: 160px