@import reset
@import header
@import side-panel
@import main-panel
@import slider

body
  display: flex
  font-family: 'Yantramanav', sans-serif

main
  flex-grow: 1
  max-height: 100vh
  max-width: 100vw
  padding-top: 61px
  display: grid
  grid-template-columns: 250px 1fr
  font-family: 'Manjari', sans-serif

@media screen and (max-width: 1200px)
  main
    grid-template-columns: 80px 1fr
