@mixin preview-container
  .preview-container
    position: relative
    &:hover .play-btn
      transition: .5s ease
      opacity: 1
    &:hover
      transition: .5s ease
      filter: brightness(0.6)
    img
      width: 100%
    .play-btn
      position: absolute
      top: 45%
      left: 45%
      opacity: 0
      font-size: 30px
      color: $white-color
      z-index: 10
      cursor: pointer
    .video-live
      content: 'live'
      position: absolute
      z-index: 10
      opacity: 0.9
      top: 4px
      left: 4px
      visibility: hidden
      padding: 3px 8px 1px
      border-radius: 6px
      background-color: $red-color
      text-transform: uppercase
      font-size: 12px
      font-weight: bold
      color: $white-color
      cursor: pointer
    .live-true
      visibility: visible
    .preview-info
      position: absolute
      bottom: 4px
      right: 4px
      padding: 3px 8px 1px
      border-radius: 6px
      background-color: $black-color
      opacity: 0.7
      font-size: 12px
      font-weight: bold
      color: $white-color
      cursor: pointer

@mixin info-block
  .info
    line-height: 1.2
    .video-title
      display: -webkit-box
      height: 16px
      -webkit-box-orient: vertical
      -webkit-line-clamp: 1
      overflow: hidden
      margin-bottom: -15px
    .nickname
      font-size: 14px
      color: $gray-color
    .nickname:hover,
    .video-title:hover
      color: $blue-color
      cursor: pointer